body {
  background-color: #0f606b;
}

.topBar {
  height: 10vh;
}
.topBar a i {
  padding-top: 20px;
  font-size: 35px;
  color: #000;
}
.cards-area {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-area a {
  text-decoration: none;
}

.cards {
  background-image: linear-gradient(#8150af, #051d40);
  width: 20vw;
  height: 30vw;
  max-width: 350px;
  max-height: 400px;
  min-width: 260px;
  min-height: 350px;
  border-radius: 10%;
  text-align: center;
  box-shadow: 20px 20px 10px #000;
}
.cards h4 {
  color: #000;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
.cards p {
  color: #000;
  font-weight: bold;
}

.cards:hover {
  transform: scale(1.3);
  box-shadow: 20px 20px 20px #000;
}

.cards i {
  color: #000;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.next {
  display: none;
}
.next i {
  text-transform: none;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.6);
}

.cards:hover .next {
  display: inline;
}

@media (max-width: 768px) {
  .cards-area {
    width: 100%;
    height: auto;
    display: grid;
  }
  .cards {
    min-width: 200px;
    min-height: 300px;
    margin-right: 10px;
  }
  .cards:hover .next {
    display: none;
  }

  .topBar a i {
    font-size: 27px;
  }
  .cards h4 {
    font-size: 15px;
  }
  .cards i {
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

@media (max-width: 300px) {
  .cards {
    min-width: 0;
    min-height: 0;
    width: 160px;
    height: 240px;
  }
  .cards:hover {
    transform: scale(1.1);
  }

  .cards:hover .next {
    display: none;
  }

  .topBar a i {
    font-size: 20px;
  }
  .cards h4 {
    font-size: 10px;
  }
  .cards i {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
