* {
  margin: 0;
  padding: 0;
}
.text-reset {
  text-decoration: none;
}

footer {
  background-color: #d9d9d9;
  width: 100%;
  font-weight: 500;
}

.footer-align-area {
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid #e0e0e0;
  
}
.title-footer {
  text-transform: uppercase;
  font-weight: bold;
}
.text-footer {
  font-size: 16px;
  font-weight: 400;
  margin-left: 1em;
  margin-top: 0;
}
.copyright-area {
  text-align: center;
  background-color: #adadad;
  padding: 0.5em;
}

@media (max-width: 768px) {
  .footer-align-area {
    text-align: center;
  }

  .container {
    text-align: center;
  }

  .footer-text-area {
    display: inline-block;
    text-align: center;
  }
  
  .text-footer {
    margin-left: 0;
    
    font-size: 15px;
  }
}
