* {

    margin: 0;
    padding: 0;

}
.text-reset {

    text-decoration: none;
    
}

footer {

    background-color: #d9d9d9;
    width: 100%;
    font-weight: 500;
    
}

.footer-social-area{

    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid #e0e0e0;
}


@media (max-width:768px){
    
    .footer-social-area{

        text-align: center;

    }

    .container{
        text-align: center;

    }

    .footer-text-area{

        display: inline-block;
        text-align: center;

    }


}