*{
  margin:0;
  padding: 0;
}

body{

  background-color: #dfdfdf;
  
}

nav{

  border-bottom: 1px solid rgba(5,29,64,0.5);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-transform: uppercase;

}

.navbar-brand img{
    width:120px;
    margin-left: 1em;
}

.ms-200{
  margin-left: 50px !important;
}
.nav-menu-itens{

  
  height:50px;
  

}
.nav-menu-itens:hover{

  transform: translateY(-3px);
  border-bottom: 1px solid rgb(5,29,64);
  border-top: 1px solid rgb(5,29,64);
  background-color: #d3d3d3;
  
}

.btn-singUp, .btn-logIn{
  width:90px;
}

.btn-singUp{

  border: 1px solid #0d6efd;
  color:#0d6efd;

}

.btn-singUp:hover{

  color:#fff;
  background-color:#0d6efd;
  
}

.btn-logIn{

  border: 1px solid #000;

}

.btn-logIn:hover{

  color:#fff;
  background-color:#000;

}