* {

  margin: 0;
  padding: 0;

}

body {

  background-color: #dfdfdf;

}

.nav-voucher {

  background-color: #000;
}

.text-voucher {

  margin: 0;
  padding: 0;

}

.text-voucher {

  font: 12px 'Poppins', sans-serif;
  color: #d9d9d9;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  padding: 5px;
  animation: cupom-animate 3s linear infinite;

}

.text-voucher:hover {

  color: #d9d9d9;
  animation: none;

}

nav {

  border-bottom: 1px solid rgba(5, 29, 64, 0.5);
  font-weight: 100;
  text-transform: uppercase;

}

.logo {

  width: 120px;

}

.nav-menu-itens {

  height: 50px;


}

.icon-person {

  color:#051D40;
  font-size: 35px;

}

.icons-profile{

  color:#051D40;
  font-size: 20px;

}

.nav-menu-itens:hover {

  border-top: 1px solid #051D40;
  border-bottom: 1px solid #051D40;
  transform: translateY(-3px);

}

.after-none::after {

  content: none;

}

@keyframes cupom-animate {

  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}