*{
  margin:0;
  padding: 0;
}
/* nav{
  background-color:;
} */
body{
  background-color: #dfdfdf;
}

nav{

  border-bottom: 1px solid rgba(5,29,64,0.5);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;

}

.navbar-brand img{
    width:120px;
    margin-left: 200px;
}
.ms-200{
  margin-left: 200px !important;
}
.nav-link{

  margin-left: 30px;
  margin-right:30px;
  height:50px;
  

}
.nav-link:hover{

  transform: translateY(-3px);
  border-bottom: 1px solid rgb(5,29,64);
  border-top: 1px solid rgb(5,29,64);
  background-color: #d3d3d3;
  
  
}
.btn-singUp{

  border: 1px solid #0d6efd;
  color:#0d6efd;
  /* background-color:#fff; */

}

.btn-singUp, .btn-logIn{
  width:100px;
}

.btn-singUp:hover{

  color:#fff;
  background-color:#0d6efd;
  
}

.btn-logIn{

  border: 1px solid #000;

}

.btn-logIn:hover{

  /* border: 1px solid #000; */
  color:#fff;
  background-color:#000;

}