body
{
    font-family: 'Poppins', sans-serif;
}


.main-text
{
    font-size: 20px;
    padding: 50px 400px 50px 400px;
    text-align: justify;
    color: #051d40;
}

.main-text h1
{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: #051d40;
    animation-name: esqdir;
    animation-duration: 2s;
}

.main-text p
{
    -webkit-animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.main-text img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    animation-name: esqdir;
    animation-duration: 2s;
}

.icon-text
{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.icon-text img
{
    float: left;
    height: 50px;
    width: auto;
    margin-right: 30px;
    padding-top: 10px;
}

.icon-text h2
{
    padding-top: 12px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    color: #0f606b;
    font-weight: 800;
    -webkit-animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes blur
{
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
    
    50% {
        -webkit-filter: blur(6px);
                filter: blur(6px);
        opacity: 0.5;
        }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
}


@keyframes esqdir
{
    0% {opacity: 0; transform: translate(-100px, 0px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}


@media (max-width:1000px)
{
    .main-text
    {
        padding: 10px 5% 40px 5%;
    }

    .icon-text
    {
        padding-left: 50px;
        padding-right:50px;
        padding-top:20px;
    }
}