body
{
    font-family: 'Poppins', sans-serif;
    background-image: url("../assets/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cae1e8;
}


.main-text
{
    margin: 50px 100px 50px 100px;
}

.main-text h1
{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #051d40;
    animation-name: esqdir;
    animation-duration: 2s;
}

.content
{
    margin-top: 80px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 200px;
}

.main-text p
{
    -webkit-animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    color: #051d40;
    font-weight: 400;

}

.main-text img
{
    float: right;
    height: auto;
    animation-name: esqdir;
    animation-duration: 2s;
    margin-left: 20px;
}

.icon-text
{
    margin-top: 100px;
    margin: auto;
    width: 800px;
}

.icon-text img
{
    float: left;
    height: 50px;
    margin-right: 15px;
}



.icon-text h2
{
    padding-top: 12px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: justify;
    color: #8150AF;
    font-weight: 800;
    -webkit-animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: blur 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes blur
{
    0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
    
    50% {
        -webkit-filter: blur(6px);
                filter: blur(6px);
        opacity: 0.5;
        }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
      }
}


@keyframes esqdir
{
    0% {opacity: 0; transform: translate(-100px, 0px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}


@media (max-width: 1000px)
{
    .main-text
    {
        margin: 20px 10% 20px 10%;
    }

    .main-text h1
    {
        font-size: 24px;
    }

    .main-text img
    {
        width: 100%;
        text-align: center;
        margin-left: 0;
        float: none;
    }
    
    .content
    {
        margin-top: 20px;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }


    .icon-text
    {
        margin-top: 50px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        max-width: 100%;
    }
    
    .icon-text img
    {
        width: auto;
        margin-left: auto;
        display:block;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: -10px;
    }


    .icon-text h2
    {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        padding-top: 0.1vw;
        padding-bottom: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
}
