body{
    background-color: #4C4C4C;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #051D40 !important;
}
.container{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 1320px;
    max-height: 2400px;
}
.one{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: auto;
    text-align: center;
}
.slide{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    max-width: 960px;
    max-height: 320px;
    margin-top: 30px;
}
.slide img{
    height: 320px;
    border-radius: 15px;  
    max-width: 960px;
    max-height: 320px;     
}
.two{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 320px;
}
.lancamentos{
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 220px;  
    background-color: #0f606b;
    border-radius: 15px; 
}
.lancamentos p{
    color: #d9d9d9;
    text-align: center;
}
.lancamentos img{
    height: 160px;
    max-width: 150px;
    width: 90%;
}
.lancamento_1{
    order: 0;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.lancamento_2{
    order: 1;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.lancamento_3{
    order: 2;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.lancamento_4{
    order: 3;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.lancamento_5{
    order: 4;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.ver_mais_produtos{
    order: 5;
    flex-basis: auto;
    flex-grow: 1;
    height: 160px;
    text-align: center;
    max-width: 216px;
}
.three{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    margin-right: 28px;
    border-radius: 15px;
}
.three img{
    width: 90%;
    max-width: 620px;
    height: 320px;
    margin-top: 30px;
}
.four{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 320px;
    margin-left: 28px;
    border-radius: 15px;
}
.four img{
    width: 90%;
    max-width: 620px;
    margin-top: 30px;
}
.five{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}
.Obras{
    margin-top: 20px;
    margin-bottom: 20px;
}
.NFTs{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Artistas{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Exposicoes{
    margin-top: 20px;
    margin-bottom: 50px;
}
@media ( max-width: 1200px){
    .slide{
        width: 100%;
        max-width: 700px;
    }
}
@media ( max-width: 900px){
    .slide{
        width: 100%;
        max-width: 500px;
        max-height: 222px;
        height: 100%; 
    }
    .slide img{
        max-height: 222px;
        height: 100%; 
    }
    .container{
        display: inline-grid;
        height: 5000px;
        max-height: 100%;
        margin-left: 40px;
    }
    .four img{
        margin-top: 80px;
    }
    .lancamentos{
        display: grid; 
         
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 650px;
    }
    body{
        background-color: #d9d9d9;
    }
    .lancamento_1{
        margin-left: 55px;
    }
    .lancamento_2{
        margin-left: 55px;
    }
    .lancamento_3{
        margin-left: 55px;
    }
    .lancamento_4{
        margin-left: 55px;
    }
    .lancamento_5{
        margin-left: 55px;
    }
    .ver_mais_produtos{
        margin-left: 55px;
    }
}
@media ( max-width: 700px){
    .slide{
        width: 100%;
        max-width: 400px;
        max-height: 177px;
        height: 100%; 
    }
    .slide img{
        max-height: 177px;
        height: 100%; 
    }
    .container{
        height: 2000px;
        max-height: 100%;
    }
}
@media ( max-width: 550px){
    .slide{
        width: 100%;
        max-width: 300px;
        max-height: 133px;
        height: 100%;
    }
    .slide img{
        max-height: 133px;
        height: 100%; 
    }
    .lancamento_1{
        margin-left: 0px;
    }
    .lancamento_2{
        margin-left: 0px;
    }
    .lancamento_3{
        margin-left: 0px;
    }
    .lancamento_4{
        margin-left: 0px;
    }
    .lancamento_5{
        margin-left: 0px;
    }
    .ver_mais_produtos{
        margin-left: 0px;
    }
    body{
        background-color: #d9d9d9;
    }
    .container{
        height: 5000px;
        margin-left: 20px;
    }  
}