* {
  margin: 0;
  padding: 0;
}

body {
  background: #d9d9d9;
}

.spaceTable {
  width: 100%;
  height: 100%;
}

.tableBar {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 20% 80%;
  background: #0f606b;
}

.tableBar-form {
  text-align: right;
}
table thead {
  background: #0f606b;
}

.spaceTable table {
  border: solid 1px #000;
  text-align: center;
}

.button-action {
  border: none;
  background: none;
  display: none;
}

.btn-row {
  min-width: 200px;
}

.btnView,
.btnEdit,
.btnDelete {
  font: 12px "Poppins", sans-serif;
}

.btnView i p,
.btnEdit i p,
.btnDelete i p {
  display: none;
  font: 12px "Poppins", sans-serif;
}

.btnView:hover,
.btnEdit:hover,
.btnDelete:hover,
.btnClose:hover {
  transform: scale(1.2);
}
.modal-body {
  text-align: center;
}
@media (max-width: 540px) {
  .button-action {
    display: block;
  }

  .btns-desktop {
    display: none;
  }

  .btnView i p,
  .btnEdit i p,
  .btnDelete i p {
    display: block;
  }

  .btn-row {
    min-width: 0;
    max-width: 30px;
  }
  .headTable {
    font: 12px "Poppins", sans-serif;
  }
  .bodyTable {
    font: 12px "Poppins", sans-serif;
  }
}
