*{
    margin: 0;
    padding: 0;
}

body{

    background: #d9d9d9;
    
}

.spaceTable{

    margin-top:20vh;
    width: 100%;
    height: 100%;
    
}
table thead{
    background:#0f606b;
}
.spaceTable table{
    border: solid 1px #000;
    text-align: center;
}
.button-action{
    border:none;
    background:none;
}
