<!DOCTYPE html>

<html>
    <head>
        <title>Produto X</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../../public/css/productView.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="main">
            <div class="card">
                <!--esquerda -->
                <div class="productPic">
                    <h2 class="title">La Photelier</h2>
                    <div class="displayPic">
                        <div class="showPic">
                            <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9jdXN8ZW58MHx8MHx8&w=1000&q=80" alt="foto tirada por Fulano">
                            <img src="../../../public/assets/frame-product1.jpg" alt="produto em uma moldura para visualizacao">
                            <img src="../../../public/assets/frame-product2.jpg" alt="produto em uma moldura para visualizacao">
                        </div>
                    </div>
                    <div class="selectPic">
                        <div class="itemPic">
                            <a href="#" data-id="1">
                                <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9jdXN8ZW58MHx8MHx8&w=1000&q=80">
                            </a>
                        </div>
                        <div class="itemPic">
                            <a href="#" data-id="2">
                                <img src="../../../public/assets/frame-product1.jpg">
                            </a>
                        </div>
                        <div class="itemPic">
                            <a href="#" data-id="3">
                                <img src="../../../public/assets/frame-product2.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- direita! -->
                <div class="productContent">

                    <a href="#" class="artistLink">Obras de Fulano</a>
                    <div class="productRating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.7(21)</span>
                    </div> 

                    <div class="productPrice">
                        <p class="lastPrice">Preço anterior: <span>R$257,00</span></p>
                        <p class="newPrice">Preço atual: <span>R$139,90</span></p>
                    </div>

                    <div class="productBuy">
                        <button type="button" class="btn">
                            Adicionar ao Carrinho <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>

                    <div class="productDetail">
                        <h2>Sobre a arte:</h2>
                        <hr>
                        <p>A escolha dos materiais e técnica adequadas está diretamente ligada ao resultado desejado para o trabalho e como se pretende que ele seja entendido. Desta forma, a análise de qualquer obra artística passa pela identificação do suporte e da técnica utilizadas.</p>
                        <p>A partir das pesquisas de Paul Cézanne, os artistas começaram a perceber que era possível lidar com realidades que não necessariamente as externas, dialogando com características dos elementos que são próprios da pintura, como a cor, a luz e o desenho. Com o aprofundamento destas pesquisas, Wassily Kandinsky chegou à abstração total em 1917. A pintura abstrata não procura retratar objetos ou paisagens, pois está inserida em uma realidade própria.</p>
                        <ul>
                            <li>Categoria: <span>Fotografia</span></li>
                            <li>Disponibilidade: <span>Pronto para envio</span></li>
                        </ul>
                    </div>

                    <div class="share">
                        <p>Compartilhe:</p>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="scriptProductView.js"></script>
    </body>

</html>