<!DOCTYPE html>

<html>

    <head>
        <title>Quem Somos - Artella</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../../public/css/quemSomosStyle.css">
        <link rel="stylesheet" href="../../../public/css/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    </head>


    <body>
        
        <div class="main-text">

            <h1>Quem Somos</h1>
            <img class="pic-maclogo" src="../../../public/assets/LogoLateral.png">
            <div class="content">
                

                <p>Criada em junho de 2022, a Artella nasce da vontade de seus idealizadores de popularizar a arte como um hobby no país. Assim como qualquer um pode andar de bicicleta, acreditamos que qualquer pessoa pode desenhar ou pintar, e que seu modo de representar suas ideias deve ser respeitado.</p>

                <p>Com isso, os idealizadores observaram a necessidade de valorizar e impulsionar o e-commerce nacional de artes e pintura, haja vista a ausência de sites voltados à área. Além disso, a Artella visa criar novas fontes de renda, devido à instabilidade financeira do país que aflingem constantemente a população.</p>

                <p>Em nossa empresa, buscamos valorizar todos os tipos de artes e pinturas, desde as que possuem traços rupestres até as NFT's. Dessa forma, buscamos divulgar e comercializar qualquer tipo de expressão artística, atingindo qualquer demanda dos nossos clientes.</p>

            </div>
            
            <div class="icon-text">
                <img src="../../../public/assets/bullseye.png">
                <h2>Missão: Popularizar e comercializar artes no país.</h2>
                <img src="../../../public/assets/eye.png">
                <h2>Visão: Ser o maior ecommerce brasileiro do segmento.</h2>
                <img src="../../../public/assets/scale-balanced-solid.png">
                <h2>Valores: Acessibilidade a Arte, respeito ao artista e ao cliente.</h2>
            </div>
        </div>
    </body>

</html>