<!DOCTYPE html>

<html>

    <head>
        <title>Quem Somos - Artella</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../../public/css/quemSomosStyle.css">
        <link rel="stylesheet" href="../../../public/css/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    </head>


    <body>
        
        <div class="main-text">

            <h1>Quem Somos</h1>

            <img class="pic-maclogo" src="../../../public/assets/pic-artella-fundo-corrigido.jpg">
            <p>Fundada em junho de 2022, a Artella foi idealizada por alunos trainees da Code Empresa Jr. de Computação, sediada na Universidade Federal de Juiz de Fora, com os objetivos de valorizar e de impulsionar o ecommerce brasileiro de artes e pintura, haja vista a ausência de sites voltados à área.</p>

            <p>A Artella nasce da necessidade dos fundadores em divulgar suas artes, motivados pelo amor à pintura.</p>

            <p>Em nossa empresa, buscamos valorizar todos os tipos de artes e pinturas, desde as que possuem traços rupestres até as NTFs, ou seja, buscamos divulgar e comercializar qualquer tipo de expressão artística, atingindo qualquer demanda dos nossos clientes.</p>

            <div class="icon-text">
                <img src="../../../public/assets/target-icon.jpg">
                <h2>Missão: Popularizar e comercializar artes no país.</h2>
                <img src="../../../public/assets/vision-icon.jpg">
                <h2>Visão: Ser o maior ecommerce brasileiro do segmento.</h2>
                <img src="../../../public/assets/values-icon.jpg">
                <h2>Valores: Acessibilidade a Arte, respeito ao artista e ao cliente.</h2>
            </div>
        </div>
    </body>

</html>