<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!--  FONTS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />

  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="../../../public/fontawesome/css/all.css" />

  <!-- Styles -->
  <link rel="stylesheet" href="../../../public/css/viewUsuarioStyle.css" />
  <link rel="stylesheet" href="../../../public/css/styles.css" />

  <title>View Administrativa Usuários</title>
</head>

<body>
  <!-- NAV -->



  <!-- TABLE  -->
  <div class="container">

    <div class="tableBar mb-3">

      <div class="tableBar-add">
        <button class="btn btnAddMore" data-bs-toggle="modal" data-bs-target="#addAction"><i class="fa-solid fa-plus"
            style="color:#d9d9d9;"></i></button>
      </div>



      <div class="tableBar-form">

        <form class="d-block">
          <input class="" type="search" aria-label="Search" style="width:50%;">
          <button class="btn " type="submit"><i class="fa-solid fa-magnifying-glass"
              style="color:#d9d9d9;"></i></button>
        </form>

      </div>

    </div>


    <div class="spaceTable">
      <table class="table mx-0">

        <!-- CABEÇALHO -->
        <thead class="headTable">
          <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>AÇÕES</th>
          </tr>
        </thead>

        <!-- CONTEÚDO -->
        <!-- ! AINDA SEM O PHP -->

        <tbody class="bodyTable">
          <tr>
            <td>1</td>
            <td>Eu</td>
            <td>eu@gmail.com Lorem ipsum dolor sit amet, co?</td>
            <td class="btn-row">

              <!-- Botões desktop -->

              <div class="btns-desktop">

                <button class="btn btnView" data-bs-toggle="modal" data-bs-target="#viewAction"><i
                    class="fa-solid fa-eye mx-1">
                    <p class="mt-3">Vizualizar</p>
                  </i></button>

                <button class="btn btnEdit" data-bs-toggle="modal" data-bs-target="#editAction"><i
                    class="fa fa-pencil mx-1">
                    <p class="mt-3">Editar</p>
                  </i></button>

                <button class="btn btnDelete" data-bs-toggle="modal" data-bs-target="#deleteAction"><i
                    class="fa-solid fa-trash mx-1">
                    <p class="mt-3">Deletar</p>
                  </i></button>

              </div>

              <!-- Botões para mobile -->
              <button class="button-action" data-bs-toggle="modal" data-bs-target="#userAction">
                <i class="fa-solid fa-ellipsis-vertical mx-3"></i>
              </button>

            </td>

        </tbody>
      </table>
    </div>
  </div>


  <!--! MODALS -->

  <!-- modal add more -->
  <div class="modal fade mt-5" id="addAction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        add
      </div>
    </div>
  </div>

  <!-- modal ações mobile -->
  <div class="modal fade mt-5" id="userAction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- cabeçalho do modal -->
        <div class="modal-header">
          <h5 class="modal-title" style="text-transform: uppercase;">Ações</h5>
          <!-- Botão fechar -->
          <button data-bs-dismiss="modal" class="btn-close btnClose" aria-label="Close"></button>
        </div>

        <!-- conteúdo do modal -->
        <div class="modal-body">

          <!-- Botões do modal -->

          <button class="btn btnView" data-bs-toggle="modal" data-bs-target="#viewAction"><i class="fa-solid fa-eye">
              <p class="mt-3">Vizualizar</p>
            </i></button>

          <button class="btn btnEdit" data-bs-toggle="modal" data-bs-target="#editAction"><i class="fa fa-pencil">
              <p class="mt-3">Editar</p>
            </i></button>

          <button class="btn btnDelete" data-bs-toggle="modal" data-bs-target="#deleteAction"><i
              class="fa-solid fa-trash">
              <p class="mt-3">Deletar</p>
            </i></button>

        </div>
      </div>
    </div>
  </div>

  <!--modal view -->
  <div class="modal fade mt-5" id="viewAction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        view
      </div>
    </div>
  </div>

  <!-- delete -->
  <div class="modal fade mt-5" id="deleteAction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        delete
      </div>
    </div>
  </div>

  <!-- edit -->
  <div class="modal fade mt-5" id="editAction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        edit
      </div>
    </div>
  </div>
  </tr>


</body>

</html>